.tm-gallery {
  margin-bottom: 80px;
}
.tm-gallery-page {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tm-gallery-item {
  max-width: 280px;
}

.singleItem .tm-gallery .col-md-3 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 60px;
}
article {
  display: block;
}

.tm-gallery h4,
.tm-gallery p,
.tm-gallery figure {
  margin: 0;
  padding: 10px 0px;
}
.tm-gallery-img {
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.tm-gallery figcaption {
  display: block;
}
.tm-gallery-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #1a6692;
  margin-bottom: 15px;
}

.tm-gallery-description {
  margin-bottom: 20px;
}

.tm-gallery-description {
  font-size: 0.95rem;
}
.tm-gallery p,
.tm-gallery address {
  color: #626364;
  line-height: 1.8;
}
.tm-gallery-price {
  font-size: 1.25rem;
  color: #2f956d;
  margin-bottom: 50px;
}
