.overlay {
  height: 200px;
  width: 100%;
}
.parallax-window-2 {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  margin: 0px 40px;
}
