.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}
.full-home-area .col-12 {
  max-width: 100%;
}

.full-home-area ul,
.full-home-area nav,
.full-home-area body,
.full-home-area h1,
.full-home-area h2,
.full-home-area h4,
.full-home-area h6,
.full-home-area p,
.full-home-area figure {
  margin: 0;
  padding: 0;
}
.tm-paging-links {
  text-align: center;
  margin-bottom: 40px;
}

.tm-paging-item {
  list-style: none;
  display: inline-block;
  border: 1px solid #2f956d;
  margin: 7px;
}
.selected {
  border-bottom: 4px solid red;
}
.tm-paging-link {
  padding: 10px 30px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2f956d;
  background-color: transparent;
}
.full-home-area a,
.full-home-area button {
  transition: all 0.3s ease;
}

/*start*/

.tm-gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0 auto;
  text-align: left;
  padding: 0px 42px;
}
.tm-gallery-item {
  margin: 0 auto;
  padding: 20px 20px 40px;
}

/*responsive*/
@media only screen and (max-width: 600px) {
  .tm-gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    text-align: left;
    padding: 0px 42px;
  }
}
