.icon-area {
}
.icon-area ul {
  list-style: none;
}
.icon-area ul li {
  display: inline-block;
}
.tm-social-link {
  color: #626364;
  display: inline-block;
  border-radius: 1px;
  background-color: transparent;
  font-size: 1.3rem;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  margin-right: 5px;
}
.tm-social-link:hover {
  background: #626364;
  color: white;
  margin-right: 5px;
  padding: 0px;
}
.tm-social-icon {
  margin-left: 10px;
  margin-top: 10px;
}
